langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
langchain-text-splitters
langchain-google-genai
chromadb
langchain_chroma
ollama
langchain-huggingface
langchain
langchain-classic
streamlit
langchain-groq
fastapi
uvicorn
langserve
sse-starlette
transformers
langgraph
sentence-transformers